source_env_if_exists .envrc.local

# export NODE_OPTIONS=--openssl-legacy-provider
# export BLOOMERANG_KEY=<somekey>
# export MOMENTUM_ADMIN_PASSWORD=<somepass>
# export PORT=<someport>
# export OLD_DB_URI=<somestuff>

