.button__survey {
  text-decoration: none;
  margin: 25px;
  padding: 2.5rem;
  min-width: 450px;
}

.survey-selection {
  &__announcement {

  }
}

.survey__selection__holder {
  margin-top: 100px;
}
