<h2 class="calculator__heading">User Id</h2>

<form class="checkin__calculator__idholder">
    <mat-form-field appearance="outline">
      <input type="text" [value]="userId" matInput maxlength="4" size="4" disabled class="checkin__calculator__display" />
    </mat-form-field>
</form>
<div class="checkin__calculator">
  <div class="checkin__calculator__item" *ngFor="let number of numbers">
      <button type="button"
              (click)="getNumber(number)"
              mat-fab
              color="primary"
              value="number">{{ number }}</button>

    </div>
    <button (click)="deleteNumber()">Ugly button</button>
</div>