<h2 class="calculator__heading">Member Login</h2>

<form class="checkin__calculator__idholder">
    <mat-form-field appearance="outline">
      <input matInput placeholder="User Id" value="" maxlength="4" />
    </mat-form-field>
  </form>

<div class="checkin__calculator">
  <div class="checkin__calculator__item">
    <button mat-fab color="primary">1</button>
  </div>
  <div class="checkin__calculator__item">
    <button mat-fab color="primary">2</button>
  </div>
  <div class="checkin__calculator__item">
    <button mat-fab color="primary">3</button>
  </div>
  <div class="checkin__calculator__item">
    <button mat-fab color="primary">4</button>
  </div>
  <div class="checkin__calculator__item">
    <button mat-fab color="primary">5</button>
  </div>
  <div class="checkin__calculator__item">
    <button mat-fab color="primary">6</button>
  </div>
  <div class="checkin__calculator__item">
    <button mat-fab color="primary">7</button>
  </div>
  <div class="checkin__calculator__item">
    <button mat-fab color="primary">8</button>
  </div>
  <div class="checkin__calculator__item">
    <button mat-fab color="primary">9</button>
  </div>
  <div class="checkin__calculator__item--last">
    <button mat-fab color="primary">0</button>
  </div>
</div>