/* You can add global styles to this file, and also import other style files */
@import './assets/material/theme.scss';
@import './assets/vendor/reset.scss';
@import './assets/vendor/normalize.scss';

html, body { height: 100%; }
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 20px;
  height: 100vh;

  .mat-fab .mat-button-wrapper {
    padding: 0;
  }

  .mat-calendar-period-button {
    font-size: 100%;
  }

}

.mat-form-field-appearance-outline .mat-form-field-infix {
  padding: 10px;
  text-align: center;
}

app-admin {
  width: 100%;
  mat-form-field {
    width: 100%
  }
}